<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>MyProject02_Final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  
    <!-- 해당 프로젝트(웹애플리케이션) 전체에서 사용할 수 있는 컨텍스트 초기화
  파라미터(매개변수)로 일종의 상수값이라 생각하면 된다. -->
  <context-param>
  	<param-name>INIT_PARAM</param-name>
  	<param-value>web.xml에 저장한 초기화 매개변수 </param-value>
  </context-param>
  
    <!-- 오라클 접속 정보를 컨텍스트 초기화 파라미터로 등록 -->
  <context-param>
  	<param-name>OracleDriver</param-name>
  	<param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleURL</param-name>
  	<param-value>jdbc:mariadb://localhost:3307:kosmo_db</param-value>
  </context-param>
  <context-param>
  	<param-name>OracleId</param-name>
  	<param-value>kosmo_user</param-value>
  </context-param>
  <context-param>
  	<param-name>OraclePwd</param-name>
  	<param-value>1234</param-value>
  </context-param>
  
    <!-- 세션유지시간 설정: web.xml에서는 분단위로 지정한다. -->
  <session-config>
  	<session-timeout>15</session-timeout>
  </session-config>
  
  <!-- 한글깨짐에 대한 필터 설정: 현재 개발중인 웹 애플리케이션 전체에 적용한다. 
  		웹애플리케이션으로 들어오는 모든 요청에 대한 문자 인코딩을 UTF-8로 하겠다는
  		필터 설정이다.-->
  <filter>
	  <filter-name>SetCharEncoding</filter-name>
	  <filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
	    <init-param>
	      <param-name>encoding</param-name>
	      <param-value>utf-8</param-value>
	    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- 게시판 페이징 처리를 위한 파라미터 추가 -->
  <!-- 한 페이지에 출력할 게시물의 갯수 -->
  <context-param>
  	<param-name>POSTS_PER_PAGE</param-name>
  	<param-value>2</param-value>
  </context-param>
  <!-- 한 블럭당 출력할 페이지 번호의 갯수 -->
   <context-param>
  	<param-name>PAGES_PER_BLOCK</param-name>
  	<param-value>2</param-value>
  </context-param>
  

  
  <!-- 파일 업로드 제한 용량: 10메가 -->
  <context-param>
  	<param-name>maxPostSize</param-name>
  	<param-value>1024000000</param-value>
  </context-param>
  
      <!-- 경로 강의 6/27 
    /servlet/link01.do 요청명은 파일명까지 합해서 만들자.
    -->
  <servlet>
  	<servlet-name>link01Controller</servlet-name>
  	<servlet-class>servlet.Link01Controller</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>link01Controller</servlet-name>
  	<url-pattern>/admin/servlet/link01.do</url-pattern>
  </servlet-mapping>
  
  <context-param>
      <param-name>CHAT_ADDR</param-name>
      <param-value>ws://localhost:8082/MyProject02_Final</param-value>
   </context-param>
</web-app>